<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-signin-client_id" content="948056451926-hlhhjb8d6vsaer0q9gj6sfs55n8fbt9v.apps.googleusercontent.com">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <title> Monk Pay </title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  crossorigin="anonymous">
        <link href="/css/style.css" rel="stylesheet">


    </head>
<body>
<div class="wrapper-main">
  
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-light top-nav fixed-menu">
        <div class="container">
            <% if (typeof user !== 'undefined' && user !== null) { %>
                <a class="navbar-brand " href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="profile"><span><%= user.firstName.charAt(0) + user.lastName.charAt(0) %></span></a>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownBlog">
                    <p class="dropdown-item" style="text-transform: capitalize;"><%=user.firstName%> <%=user.lastName%></p>
                    <hr>
                    <a class="dropdown-item" href="/profile"><span class="fas fa-user"></span>Profile</a>
                    <!-- <a class="dropdown-item" href="/settings"><span class="fas fa-cog"></span>Settings</a> -->
                    <a class="dropdown-item" href="/auth/logout"> <span class="fas fa-sign-out-alt"></span>Logout</a>

                </div>
              <%}else{ %> 

                <a class="navbar-brand logo" href="/">
                    <!-- <img src="/images/logo.png" alt="logo" /> -->
                </a>
              <% } %>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					

                    <% if (typeof user !== 'undefined' && user !== null) { %>
                        
                        <li class="nav-item">
                            <a class="nav-link active" href="/" title="home page">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/credit" title="borrow page">Borrow</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/invest" title="invest page">Invest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mmoney" title="invest page">Mobile Money</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard<i class="fas fa-sort-down"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item" href="/credit/dashboard">Borrower dashboard</a>
                                <a class="dropdown-item" href="/invest/dashboard">Investor dashboard</a>
                            </div>
                        </li>
                        
                        <% if (user.isVerified == false) { %>
                            <li class="nav-item">
                                <a class="nav-link active" href="/verify" title="verification page">Complete registration</a>
                            </li>
                            
                        <% } %>
                      <%}else{ %> 

                        <li class="nav-item">
                            <a class="nav-link active" href="/" title="home page">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/credit" title="borrow page">Borrow</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/invest" title="invest page">Invest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mmoney" title="invest page">Mobile Money</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/login">Sign In</a>
                        </li>
                       
                      <% } %>
                  
				</ul>
            </div>
        </div>
    </nav>
    
    <!-- Header -->
    <%- include('../partials/messages') %>
    
    <%-body%>
     
     <!-- /.container -->
    <!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">About Us</h5>
                        <!--headin5_amrc-->
                        
                           <div class="footer-content">
                            <!-- <h5>Core Values</h5> -->
                            <ul>
                               <li>We respect all our customers</li>                  
                               <li>We offer our services in a convenient way</li>                  
                               <li>We ensure security measures with our customers information.</li>                  
                            </ul>
                           </div>

                       
                    </div>	
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <h5 class="headin5_amrc col_white_amrc pt2">Contact us</h5>
                        <!--headin5_amrc-->
                        <ul class="footer_ul_amrc">
                            <li><a href="#"><i class="fas fa-envelope"></i>monkpay@gmail.com</a></li>
                            <li><a href="#"><i class="fas fa-phone"></i> or <i class="fab fa-whatsapp"></i> 0760077115 </a></li>
                            <li><a href="#"><i class="fas fa-phone"></i></i> or <i class="fab fa-whatsapp"></i> 0976958373</a></li>
                           
                        </ul>
                        <!--footer_ul_amrc ends here-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col">
                        <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                        <!--headin5_amrc ends here-->
                        <ul class="footer-social">
                            <li><a class="facebook hb-xs-margin" href="#"><span class="hb hb-xs spin hb-facebook"><i class="fab fa-facebook-f"></i></span></a></li>
                            <li><a class="twitter hb-xs-margin" href="#"><span class="hb hb-xs spin hb-twitter"><i class="fab fa-twitter"></i></span></a></li>
                            <li><a class="instagram hb-xs-margin" href="#"><span class="hb hb-xs spin hb-instagram"><i class="fab fa-instagram"></i></span></a></li>
                            <li><a class="googleplus hb-xs-margin" href="#"><span class="hb hb-xs spin hb-google-plus"><i class="fab fa-whatsapp"></i></span></a></li>

                        </ul>
                        <!--footer_ul2_amrc ends here-->
                    </div>
                    
                </div> 
         </div>
    </footer>
    
    <!-- Footer -->
</div>

<!--  Bootstrap core JavaScript -->
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
<!-- jQuery -->

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <!-- ... Your existing HTML code ... -->


<!-- Add the jQuery script for setting the 'active' class -->
<script>
    $(document).ready(function () {
      // Get the current URL path
      var currentPath = window.location.pathname;
    
      // Remove the leading and trailing slashes
      currentPath = currentPath.replace(/^\/|\/$/g, '');
    
      // Loop through each navigation link
      $(".navbar-nav a.nav-link").each(function () {
        // Get the href attribute of the link
        var linkHref = $(this).attr("href");
    
        // Remove the leading and trailing slashes from the link's href
        linkHref = linkHref.replace(/^\/|\/$/g, '');
    
        // Check if the link's href matches the current path
        if (currentPath === linkHref) {
          // Add the 'active' class to the matching link
          $(this).addClass("active");
        }else{
            $(this).removeClass("active");
        }
      });
    });
    </script>
    

</body>
</html>

</html>