<div class="container">        
    <!-- About Section -->
    <div class="about-main">
        <div class="row">
         <div class="col-lg-6  container">
           <div class="modal-dialog ">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="loanModalLabel">Cash Summary</h5>
               </div>
               <div class="modal-body">
                 <!-- <form action="/loan-application" method="post"> -->
                   <div class="modalBottom">

                    <% if (maturedInvestment && maturedInvestment.length > 0) { %>
                      <% let totalMaturedAmount = 0; %>

                      <% maturedInvestment.forEach(function(Invested) { %>
                        <% totalMaturedAmount += Invested.investmentAmount; %>
                        <%})%>

                        <div class="mb-3">
                          <label for="loanAmount" class="form-label">Account Value</label>
                          <input type="text" class="form-control" id="loanAmount" name="loanAmount" value="K<%= totalMaturedAmount %>" disabled>
                        </div>

                        <% } else { %>
                          <div class="mb-3">
                            <label for="loanAmount" class="form-label">Account Value</label>
                            <input type="text" class="form-control" id="loanAmount" name="loanAmount" value="nil" disabled>
                          </div>
  
                          <% } %> 

                      <% if (invest && invest.length > 0) { %>
                        <% let totalInvestedAmount = 0; %>
                        <% let totalInvestments = 0; %>
                       

                        <% invest.forEach(function(investment) { %>
                            <% totalInvestedAmount += investment.investmentAmount; %>
                            <% totalInvestments++; %>
                        <% }) %>
                        <div class="mb-3">
                            <label for="totalInvestedAmount" class="form-label">Total Invested</label>
                            <input type="text" class="form-control" id="totalInvestedAmount" name="totalInvestedAmount" value="K<%= totalInvestedAmount %>" disabled>
                      </div>
                      <div class="mb-3">
                          <label for="totalInvestments" class="form-label">Total investments</label>
                          <input type="text" class="form-control" id="totalInvestments" name="totalInvestments" value="K<%= totalInvestments %>" disabled>
                      </div>
                        <% } else { %>
                        <div class="mb-3">
                          <label for="totalInvestedAmount" class="form-label">Total Invested</label>
                          <input type="text" class="form-control" id="totalInvestedAmount" name="totalInvestedAmount" value="K0.00" disabled>
                       </div>
                        <div class="mb-3">
                            <label for="totalInvestments" class="form-label">Total investments</label>
                            <input type="text" class="form-control" id="totalInvestments" name="totalInvestments" value="0" disabled>
                        </div>
                   <% } %>

                  
                  </div>
                 <!-- </form> -->
               </div>
               
             </div>
           </div>
         </div>
         
          
        </div>
        
        
          <hr>
          <% if (invest && invest.length > 0) { %>
      <p>Investments <i class="fas fa-arrow-down"></i> </p>
        
      
        <div class="table-responsive">
          <table class="table text-start align-middle table-bordered table-hover mb-0">
              <thead>
                  <tr class="text-white">
                      <!-- <th scope="col"><input class="form-check-input" type="checkbox"></th> -->
                      <th><i class="fa fa-question-circle fa-1x text-secondary"></i></th>
                      <th scope="col" style="color: black;">Total Amount</th>
                      <th scope="col" style="color: black;">Invested Amount</th>
                      <th scope="col" style="color: black;">Interest</th>
                      <th scope="col" style="color: black;">Maturity date</th>
                  </tr>
              </thead>
              <tbody>
                  <% let id = 0; %>
                 <% invest.forEach(investment => { %>
                  <tr class="modal-trigger-row" data-toggle="modal" data-target="#modal<%=id%>">
                    <% if (investment.isTXNsuccessful == false) { %>
                      <td>
                          <i title="TXN not yet verified" class="fa fa-exclamation-triangle fa-1x text-warning"></i>
                        
                      </td>                            
                  <% } else { %>
                       
                          <% if (investment.isInvestmentPaidOff == true ) { %>
                            <td><i title="Unmatured investment" class="fa fa-clock fa-1x text-primary"></i></td>
                            <% } else { %>
                              <td><i title="matured investment" class="fa fa-check-circle fa-1x text-success"></i></td>
                            <% } %>
                  <% } %>
                      <td>K<%=investment.investmentAmount%></td>
                      <td>K<%=investment.investmentAmount - 5 %></td>
                      <td>K<%=investment.expectedReturns%></td>
                      <td>
                        <% if (investment.createdAt.toDateString() === new Date().toDateString()) { %>
                          <%=investment.createdAt.toLocaleTimeString('en-GB')%>
                          
                          <% } else { %>
                            <%=investment.maturityDate%>  
                            <i style="font-size: xx-small;"><%=investment.createdAt.toLocaleTimeString('en-GB')%></i>
                           
                       <% } %>
                        
                      
                      </td>
                      
                  
                    </tr>
                    <div class="modal fade" id="modal<%=id%>" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <div class="modalTime">
                                        <span>
                                            <%=investment.createdAt.toLocaleDateString('en-GB')%>,
                                        </span>
                                        <span>
                                            <i><%=investment.createdAt.toLocaleTimeString('en-GB')%></i>
                                            
                                        </span>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    
                                    <div class="contentItem">
                                        <span>Toatal Amount:</span>
                                        <span>K<%=investment.investmentAmount%></span>
                                    </div>
                                    <div class="contentItem">
                                      <span>Invested Amount:</span>
                                      <span>K<%=investment.investmentAmount - 5 %></span>
                                  </div>
                                    <div class="contentItem">
                                        <span>Interest Earned:</span>
                                        <span>K<%=investment.expectedReturns%></span>
                                    </div>
                                    <div class="contentItem">
                                        <span>Total Returns:</span>
                                        <span>K<%=investment.totalReturns%></span>
                                    </div>
                                    <div class="contentItem">
                                        <span>Maturity Date:</span>
                                        <span><%=investment.maturityDate%></span>
                                    </div>
                                    <div class="contentItem">
                                        <span>TXN successful? :</span>
                                        <span><%=investment.isTXNsuccessful%></span>
                                    </div>

                                                                        
                                </div>
                                <div class="modal-footer">
                                    <% if (investment.isTXNsuccessful == false ) { %>
                                        <button type="button" class="btn btn-secondary" ><a href="/invest/dashboard">Refresh</a></button>
                                    <% } %>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                  <%  id++; %>
                 <% }) %>
      
              </tbody>
          </table>
      </div>
       
      <% } %>

  </div>











  <hr>
 
 </div>	


 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add this script at the end of your HTML, after including jQuery and Bootstrap JS -->
<script>
  $(document).ready(function () {
      $('.modal-trigger-row').on('click', function () {
          // Remove existing highlight from other rows
          $('.modal-trigger-row').removeClass('highlighted');
          // Add highlight to the clicked row
          $(this).addClass('highlighted');
      });

      // Clear the highlight when the modal is closed
      $('.modal').on('hidden.bs.modal', function () {
          $('.modal-trigger-row').removeClass('highlighted');
      });
  });
</script>

 

