<div class="container">        
    <!-- About Section -->
    <div class="about-main">
        <div class="row">
         <div class="col-lg-6  container">
           <div class="modal-dialog ">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="loanModalLabel">Cash Summary</h5>
               </div>
               <div class="modal-body">
                 <!-- <form action="/loan-application" method="post"> -->
                   <div class="modalBottom">

                    <% if (maturedInvestment && maturedInvestment.length > 0) { %>
                      <% let totalMaturedAmount = 0; %>

                      <% maturedInvestment.forEach(function(Invested) { %>
                        <% totalMaturedAmount += Invested.investmentAmount; %>
                        <%})%>

                        <div class="mb-3">
                          <label for="loanAmount" class="form-label">Account Value</label>
                          <input type="text" class="form-control" id="loanAmount" name="loanAmount" value="K<%= totalMaturedAmount %>" disabled>
                        </div>

                        <% } else { %>
                          <div class="mb-3">
                            <label for="loanAmount" class="form-label">Account Value</label>
                            <input type="text" class="form-control" id="loanAmount" name="loanAmount" value="nil" disabled>
                          </div>
  
                          <% } %> 

                      <% if (invest && invest.length > 0) { %>
                        <% let totalInvestedAmount = 0; %>
                        <% let totalInvestments = 0; %>
                       

                        <% invest.forEach(function(investment) { %>
                            <% totalInvestedAmount += investment.investmentAmount; %>
                            <% totalInvestments++; %>
                        <% }) %>
                        <div class="mb-3">
                            <label for="totalInvestedAmount" class="form-label">Total Invested</label>
                            <input type="text" class="form-control" id="totalInvestedAmount" name="totalInvestedAmount" value="K<%= totalInvestedAmount %>" disabled>
                      </div>
                      <div class="mb-3">
                          <label for="totalInvestments" class="form-label">Total investments</label>
                          <input type="text" class="form-control" id="totalInvestments" name="totalInvestments" value="<%= totalInvestments %>" disabled>
                      </div>
                        <% } else { %>
                        <div class="mb-3">
                          <label for="totalInvestedAmount" class="form-label">Total Invested</label>
                          <input type="text" class="form-control" id="totalInvestedAmount" name="totalInvestedAmount" value="K0.00" disabled>
                       </div>
                        <div class="mb-3">
                            <label for="totalInvestments" class="form-label">Total investments</label>
                            <input type="text" class="form-control" id="totalInvestments" name="totalInvestments" value="0" disabled>
                        </div>
                   <% } %>

                  
                  </div>
                 <!-- </form> -->
               </div>
               
             </div>
           </div>
         </div>
         
         <div class="col-lg-6 container">
          <div class="modal-dialog ">
            <div class="modal-content">
              <div class="modal-body d-flex flex-column align-items-center">

                <% if (maturedInvestment && maturedInvestment.length > 0) { %>
                 
                    <!-- INVEST button with an icon -->
                      <button type="button" class="btn btn-primary btn-icon serviceBtn" id="investButton">
                        <i class="fas fa-money-bill"></i> Withdraw 
                      </button>
                      <br>
                      <!-- BORROW button with a new icon -->
                      <button type="button" class="btn btn-secondary btn-icon serviceBtn" id="creditButton">
                        <i class="fas fa-arrow-circle-up"></i> Re-Invest 
                      </button>

                    <% } else { %>
                      
                      <button type="button" class="btn btn-primary btn-icon serviceBtn" id="investButton">
                        <i class="fas fa-hand-holding-usd"></i> INVEST
                      </button>
 
                      <% } %> 

                
              
              </div>
            </div>
          </div>
        </div>
          
        </div>
        

    </div>
    
      <hr>
  <p>Current Investments <i class="fas fa-arrow-down"></i> </p>
    <div class="about-main">
      <div class="row">
        <% if (invest && invest.length > 0) { %>

          <% invest.forEach(function(investment) { %>
            
            <div class="col-lg-6 container">
              <div class="modal-dialog ">
                <div class="modal-content">
                 
                  <div class="modal-body">
                      <div class="modalBottom">
         
                         <div class="mb-3">
                           <label for="id" class="form-label">Investment id</label>
                           <input type="text" class="form-control" id="id" name="id" value="<%=investment._id%>" disabled>
                         </div>
                         <div class="mb-3">
                             <label for="investmentAmount" class="form-label">Invested Amount</label>
                             <input type="text" class="form-control" id="investmentAmount" name="investmentAmount" value="K<%=investment.investmentAmount%>" disabled>
                       </div>
                       <div class="mb-3">
                           <label for="expectedReturns" class="form-label">Interest earned</label>
                           <input type="text" class="form-control" id="expectedReturns" name="expectedReturns" value="K<%=investment.expectedReturns%>" disabled>
                       </div>
                       <div class="mb-3">
                        <label for="investmentType" class="form-label">Invest type</label>
                        <input type="text" class="form-control" id="investmentType" name="investmentType" value="<%=investment.investmentType%> " disabled>
                    </div>
                    <div class="mb-3">
                      <label for="maturityDate" class="form-label">Maturity date</label>
                      <input type="text" class="form-control" id="maturityDate" name="maturityDate" value="<%=investment.maturityDate%>" disabled>
                  </div>
         
                     
                     </div>
                    <!-- </form> -->
                  </div>
                  
                </div>
              </div>
            </div>
              <%})%>

        <% } else { %>
          <div class="null">
             <p>You've no investments lately</p>
             
             <button type="button" class="btn btn-primary btn-icon" id="dashboardButton">
               <a href="/invest"><i class="fas fa-money-bill-wave"></i> Invest</a> 
           </button>
           
          </div>
   <% } %>

       </div>
      

  </div>


  <hr>
  <div class="about-main">
    <div class="row">
      <div class="col-lg-6 transactionSection">
          <h5>Trasanctions History <i class="fas fa-arrow-down"></i></h5>
     
           <% if (maturedInvestment && maturedInvestment.length > 0) { %>
            <% let num = 0 %>
            <ul>
            <% maturedInvestment.forEach(function(Invested) { %>
                <li id="transactionDropdownBlog" data-toggle="modal" data-target="#transact<%=num%>">
                  <div class="transactionItem">
                    <span>K<%=Invested.investmentAmount%></span>
                    <span><%= Invested.createdAt.toLocaleDateString('en-GB') %></span>
                  </div>
                </li>

                <div class="modal fade" id="transact<%=num%>" tabindex="-1" role="dialog"  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog " role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h6 class="modal-title" id="exampleModalLabel"><%= Invested.createdAt.toLocaleDateString('en-GB') %> <i><%= Invested.createdAt.toLocaleTimeString('en-GB') %></i></h6>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">

                            <p>Invested Amount: <strong>K<%=Invested.investmentAmount%></strong></p>
                            <p>Interest earned: <strong>K<%=Invested.expectedReturns%></strong></p>
                            <p>Matured Date: <strong><%=Invested.maturityDate%></strong></p>
                            <p>Status: <strong><%= Invested.investmentStatus === true ? 'pending' : 'complete' %></strong></p>

                          </div>

                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        
                      </div>
                  </div>
                </div>

                <hr>
                <% num++ %>
                <%})%>
                
              </ul>
              <% } else { %>
                  <p>No transactions available</p>
                <% } %> 
                           
              
        </div>
       
       
       <br>
       <br>
        
      </div>
      <!-- /.row -->

  </div>
 </div>	


 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


 <script>
 
  $("#investButton").click(function () {
    // Redirect to the desired page when the button is clicked
    window.location.href = "/invest";
  });
 
</script>



 

