<div class="container">        
    <!-- About Section -->
    <div class="about-main">
        <div class="row">
         <div class="col-lg-6 applyLoanContainer container">
           <div class="modal-dialog modal-dialog-centered">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="loanModalLabel">Current loan details</h5>
                 <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
               
               </div>
               <div class="modal-body">
                 <!-- <form action="/loan-application" method="post"> -->
                   <div class="modalBottom">


                    <% if (credit && credit.length > 0) { %>
      
                        <div class="mb-3">
                          <label for="loanAmount" class="form-label">Loan Amount</label>
                          <input type="text" class="form-control" id="loanAmount" name="loanAmount" value="K<%=credit[0].loanAmount%>" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="amountReceived" class="form-label">Amount You Received</label>
                            <input type="text" class="form-control" id="amountReceived" name="amountReceived" value="K<%=credit[0].amountReceived%>" disabled>
                        </div>
                        <div class="mb-3">
                          <label for="repaymentAmount" class="form-label">Repayment Amount</label>
                          <input type="text" class="form-control" id="repaymentAmount" name="repaymentAmount" value="K<%=credit[0].repaymentAmount%>" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="period" class="form-label">Tenure</label>
                            <input type="text" class="form-control" id="period" name="period" value="<%=credit[0].loanTerm%> <%= credit[0].loanTerm === 1 ? 'week' : 'weeks' %>" disabled>
                        </div>
                        <div class="mb-3">
                          <label for="createdAt" class="form-label">Date Disbursed</label>
                            <input type="text" class="form-control" id="createdAt" name="createdAt" value="<%=credit[0].createdAt.toLocaleDateString('en-US')%>" disabled>
                        </div>
                        <div class="mb-3">
                          <label for="nextPaymentDate" class="form-label">Repayment Date</label>
                          <input type="date" class="form-control" id="nextPaymentDate" name="nextPaymentDate" value="<%=credit[0].nextPaymentDate%>" disabled>
                        </div>
                        <div class="mb-3">
                          <label for="creditStatus" class="form-label">Status</label>
                          <input type="text" class="form-control" id="creditStatus" name="creditStatus" value="<%= credit[0].creditStatus === true ? 'unpaid' : 'paid' %>" disabled>
                        </div>
                          <hr>
                      <button type="submit" class="btn btn-primary" id="repaymentDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MAKE PAYMENT</button>
                      <div class="dropdown-menu dropdown-menu-center transactionItem-modal" aria-labelledby="repaymentDropdownBlog">
                        <span>click number to proceed</span><br>
                        <button type="button" class="btn btn-primary btn-icon" id="dashboardButton">
                          <a href="/credit/repayment"><%=user.phoneNumber%></a> 
                      </button>
                      <hr>
                       <p>or</p>
                       <hr>

                        <form action="/credit/repayment" method="post">
                          <div class="mb-2">
                            <label for="newMMnumber" class="form-label">user different number</label>
                            <input type="text" class="form-control" id="newMMnumber" name="newMMnumber" placeholder="enter phone number" required>
                        </div>
                        <button type="submit" class="btn btn-primary">submit</button>
                        </form>
                     </div>

                  <% } else { %>
                         <div class="null">
                            <p>you're loan free</p>
                            <button type="button" class="btn btn-primary btn-icon" id="dashboardButton">
                              <a href="/credit"><i class="fas fa-money-bill-wave"></i> get a Loan</a> 
                          </button>
                          
                         </div>
                  <% } %>
                  
                  
                  </div>
                 <!-- </form> -->
               </div>
              
             </div>
           </div>
         </div>
         
         <br>
         <br>
         <div class="col-lg-6 transactionSection">
            <h5>Trasactions</h5>
            <% if (repayedLoan && repayedLoan.length > 0) { %>
              <% repayedLoan.forEach(function(loan) { %>
                <ul>
                  <li id="transactionDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <div class="transactionItem">
                      <span>K<%=loan.loanAmount%></span>
                      <span><%= loan.createdAt.toLocaleDateString('en-US') %></span>
                    </div>
                  </li>
                  <div class="dropdown-menu dropdown-menu-center transactionItem-modal" aria-labelledby="transactionDropdownBlog">
                     <p>Loan Amount: <span>K<%=loan.loanAmount%></span></p>
                     <p>Amount you received: <span>K<%=loan.amountReceived%></span></p>
                     <p>Amount payed: <span>K<%=loan.repaymentAmount%></span></p>
                     <p>Date payed: <span><%=loan.nextPaymentDate%></span></p>
                     <p>Status: <span><%= loan.creditStatus === true ? 'unpaid' : 'paid' %></span></p>
                  </div>
                  <hr>
                </ul>
                  <%})%>

                <% } else { %>
                    <p>No transactions available</p>
                  <% } %>             
               
         </div>
          
        </div>
        <!-- /.row -->

    </div>
 </div>	



