<div class="container">        
    <!-- About Section -->
    <div class="about-main">
        <div class="row">
         <div class="col-lg-6 applyLoanContainer container">
           <div class="modal-dialog modal-dialog-centered">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="loanModalLabel">Investment Credentials</h5>
                 <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
               
               </div>
               <div class="modal-body">
                 <form action="/loan-application" method="post">
                   <div class="modalBottom">
                    <div class="mb-3">
                        <label for="name" class="form-label">Student Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%=user.firstName%> <%=user.lastName%>" disabled>
                      </div>
                      <div class="mb-3">
                        <label for="creditorStudentNumber" class="form-label">Student Number</label>
                        <input type="number" class="form-control" id="creditorStudentNumber" name="creditorStudentNumber" value="<%=user.studentNumber%>" disabled>
                      </div>

                      <div class="mb-3">
                        <label for="pnumber" class="form-label">MoMo Number</label>
                        <input type="text" class="form-control" id="pnumber" name="pnumber" value="<%=user.phoneNumber%> " disabled>
                      </div>
                      <div class="mb-3">
                        <label for="investmentAmount" class="form-label">Invested Amount</label>
                        <input type="text" class="form-control" id="investmentAmount" name="investmentAmount" value="K<%=investmentAmount%>" disabled>
                      </div>
                      <div class="mb-3">
                        <label for="serviceFee" class="form-label">Commission</label>
                        <input type="text" class="form-control" id="serviceFee" name="serviceFee" value="K<%=serviceFee%>" disabled>
                      </div>
                   <div class="mb-3">
                     <label for="expectedReturns" class="form-label">Expected Returns</label>
                     <input type="text" class="form-control" id="expectedReturns" name="expectedReturns" value="K<%=expectedReturns%>" disabled>
                   </div>
                   <div class="mb-3">
                     <label for="totalReturns" class="form-label">Total Returns</label>
                     <input type="text" class="form-control" id="totalReturns" name="totalReturns" value="K<%=totalReturns%>" disabled>
                   </div>
                   <div class="mb-3">
                    <label for="period" class="form-label">Tenure</label>
                    <input type="text" class="form-control" id="period" name="period" value="<%=investmentTerm%> <%= investmentTerm == 1 ? 'week' : 'weeks' %>" disabled>
                  </div>
                   <div class="mb-3">
                     <label for="nextPaymentDate" class="form-label">Maturity Date</label>
                     <input type="date" class="form-control" id="nextPaymentDate" name="nextPaymentDate" value="<%=maturityDate%>" disabled>
                   </div>
                   <hr>
                   <button type="submit" class="btn btn-primary">NEXT</button>
                  
                  </div>
                 </form>
               </div>
               
             </div>
           </div>
         </div>
         <br>
         <br>
         <div class="col-lg-6">
            <h5>Our Regulations</h5>
            <ul>
               <li>Phasellus quis erat et enim laoreet posuere ac porttitor ipsum.</li>
               <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>                     
               <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
               <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
               <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            </ul>
         </div>
          
        </div>
        <!-- /.row -->

    </div>
 </div>	


