<div class="container">        
    <!-- About Section -->
    <div>
        <h2>Mobile Money Door 2 Door agent</h2>
    </div>
    <div class="about-main">

        <div class="row">
          
         <div class="col-lg-6  container">
          <div class="modal-dialog ">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="loanModalLabel">Order a mobile money agent</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
              </div>
              <div class="modal-body">
                  <div class="modalBottom">
                      
                  <div class="mb-3">
                    <label for="cashAvailable" class="form-label">Amount Available</label>
                    <input type="text" class="form-control" id="CashAvailable" name="cashAvailable" value="K<%=momoService.mtnCash%>" disabled>
                  </div>
                  <div class="mb-3">
                    <label for="agentNumber" class="form-label">Agent Number</label>
                    <input type="text" class="form-control" id="AgentNumber" name="agentNumber" value="<%=momoService.mtnAgentNumber%>" disabled>
                  </div>
                  <div class="mb-3">
                    <label for="agentName" class="form-label">Agent Name</label>
                    <input type="text" class="form-control" id="agentName" name="agentName" value="<%=momoService.agentName%>" disabled>
                  </div>
                  <hr>
                  
                  
               </div>
               <form action="/mmoney" method="post">
                   <!-- <hr> -->
                   
                   <div class="mb-3">
                     <label for="agentService" class="form-label">Agent Service</label>
                     <div class="AgentService">
                       <img src="images/mtn.jpg" alt="mtn" width="60" height="50">
                       <select name="agentService" id="AgentService">
                           <option value="mtn"> MTN</option>
                           <option value="airtel">AIRTEL</option>
                           <option value="zamtel">ZAMTEL</option>
                       </select>
                     </div>
                   </div>
                   <div class="mb-3">
                     <label for="serviceType" class="form-label">Service Type</label>
                     <div class="serviceType">
                       <select name="serviceType" id="serviceType">
                           <option value="withdraw"> Withdraw</option>
                           <option value="deposit">Deposit</option>
                       </select>
                     </div>
                   </div>
                   <div class="mb-3">
                     <label for="amount" class="form-label">Amount</label>
                     <input type="number" class="form-control" id="withdrawAmount" placeholder="transaction amount" name="amount" required>
                   </div>
                  
                  <div class="mb-3">
                   <label for="location" class="form-label">Room number/current location</label>
                   <input type="text" class="form-control" id="location" name="location" placeholder="e.g. K212" required>
                 </div>
                
                 <hr>
                 <button type="submit" class="btn btn-primary">place order</button>

                </form>
              </div>
              
            </div>
          </div>
        </div>
         <div class="col-lg-6">
          <ul>
            <li>Deposit and Withdraw money hassle-free with our on-campus agents.</li>
            <li>Transactions are processed manually by our agents. Just place a transaction order and our agents will atend to you physically.</li>
            <li>we aim to reduce money uncertainity and increase money security for students, in order to enjoy financial convenience.</li>
            
          </ul>
          <P></P>
          <!-- <button id="open-modal">more</button> -->
          <br>
          <br>

         
          
           
          
          
        </div>
        </div>
        <!-- /.row -->

    </div>
 </div>	


 <div class="background-blur"></div>

<style>
 
</style>







 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Initial values
  var initialCashAvailable = "K<%=momoService.mtnCash%>";
  var initialImageSrc = "images/mtn.jpg";
  var initialAgentNumber = "<%=momoService.mtnAgentNumber%>";

  // Constants
  const modal = $('.modal');
    const backgroundBlur = $('.background-blur');

  // Handle change event on the select element
  $("#AgentService").change(function() {
    var selectedService = $(this).val();

    // Define a mapping of service values to data
    var serviceData = {
      "mtn": {
        cashAvailable: "K<%=momoService.mtnCash%>",
        imageSrc: "images/mtn.jpg",
        agentNumber: "<%=momoService.mtnAgentNumber%>"
      },
      "airtel": {
        cashAvailable: "K<%=momoService.airtelCash%>",
        imageSrc: "images/airtel.png",
        agentNumber: "<%=momoService.airtelAgentNumber%>"
      },
      "zamtel": {
        cashAvailable: "K<%=momoService.zamtelCash%>",
        imageSrc: "images/zamtel.png",
        agentNumber: "<%=momoService.zamtelAgentNumber%>"
      }
      // Add more services as needed
    };

    // Get the data for the selected service
    var selectedServiceData = serviceData[selectedService];

    // Update the cash available value, image source, and agent number based on the selected service
    if (selectedServiceData) {
      // Update the cash available value
      $("#CashAvailable").val(selectedServiceData.cashAvailable);
      // Update the image source
      $(".AgentService img").attr("src", selectedServiceData.imageSrc);
      // Update the agent number input value
      $("#AgentNumber").val(selectedServiceData.agentNumber);
    } else {
      // Use the initial values if the service is not found in the mapping
      $("#CashAvailable").val(initialCashAvailable);
      $(".AgentService img").attr("src", initialImageSrc);
      $("#AgentNumber").val(initialAgentNumber);
    }
  });

  // Trigger the change event to set the initial values
 
  // $("#dAgentService").change(function() {
  //   var selectedService = $(this).val();

  //   // Define a mapping of service values to data
  //   var serviceData = {
  //     "mtn": {
  //       cashAvailable: "K5000.00",
  //       imageSrc: "images/mtn.jpg",
  //       agentNumber: "0966121212"
  //     },
  //     "airtel": {
  //       cashAvailable: "K3000.00",
  //       imageSrc: "images/airtel.png",
  //       agentNumber: "0977121212"
  //     },
  //     "zamtel": {
  //       cashAvailable: "K3000.00",
  //       imageSrc: "images/zamtel.png",
  //       agentNumber: "0955345679"
  //     }
  //     // Add more services as needed
  //   };

  //   // Get the data for the selected service
  //   var selectedServiceData = serviceData[selectedService];

  //   // Update the cash available value, image source, and agent number based on the selected service
  //   if (selectedServiceData) {
  //     // Update the cash available value
  //     $("#dCashAvailable").val(selectedServiceData.cashAvailable);
  //     // Update the image source
  //     $(".dAgentService img").attr("src", selectedServiceData.imageSrc);
  //     // Update the agent number input value
  //     $("#dAgentNumber").val(selectedServiceData.agentNumber);
  //   } else {
  //     // Use the initial values if the service is not found in the mapping
  //     $("#dCashAvailable").val(initialCashAvailable);
  //     $(".dAgentService img").attr("src", initialImageSrc);
  //     $("#dAgentNumber").val(initialAgentNumber);
  //   }
  // });

  $("#AgentService").change();

  // Trigger the change event to set the initial values
  // $("#dAgentService").change();



  // modal js code
  

    $('#open-modal').on('click', function () {
        modal.css('display', 'flex');
        backgroundBlur.css('display', 'block');
    });

    $('.close').on('click', function () {
        modal.css('display', 'none');
        backgroundBlur.css('display', 'none');
    });

    backgroundBlur.on('click', function () {
        modal.css('display', 'none');
        backgroundBlur.css('display', 'none');
    });

});
</script>



