<div class="container">
    <h1> <span class="fas fa-user"></span> Profile </h1>
    <div class="about-main">
        <div class="row">
         <div class="col-lg-6  container">
          <div class="modal-dialog ">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="loanModalLabel">User Details</h5>
              </div>
              <div class="modal-body">
                <form action="/profile/update" id="form"  method="post">
                  <div class="modalBottom profile">
                    <div class="mb-3">
                      <label for="name" class="form-label">First Name</label>
                      <input type="text" class="form-control" id="firstName" name="firstName" value="<%=user.firstName%>" disabled>
                    </div>
                    <div class="mb-3">
                      <label for="name" class="form-label">Last Name</label>
                      <input type="text" class="form-control" id="lastName" name="lastName" value="<%=user.lastName%>" disabled>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email" value="<%=user.email%>" disabled>
                    </div>
                    <!-- Add other input fields as needed -->
                    <div class="mb-3">
                      <label for="studentNumber" class="form-label">Student Number</label>
                      <input type="number" class="form-control" id="studentNumber" name="studentNumber" value="<%=user.studentNumber%>" disabled>
                    </div>
 
                    <div class="mb-3">
                      <label for="number" class="form-label">Phone Number</label>
                      <input type="text" class="form-control" id="phoneNumber" name="number" value="<%=user.phoneNumber%> " disabled>
                    </div>
                 <div class="mb-3">
                   <label for="school" class="form-label">School </label>
                   <input type="text" class="form-control" id="school" name="school" value="<%=user.school%>" disabled>
                 </div>
                 <div class="mb-3">
                   <label for="date" class="form-label">Date Joined</label>
                   <input type="text" class="form-control" id="date" name="date" value="<%= new Date(user.createdAt).toLocaleDateString('en-GB') %>" disabled>
                 </div>
          
                 <div class="modal-footer" id="updateButtonSection">
                  <button type="button" class="btn btn-secondary" id="updateDetailsBtn">Update Details</button>
                </div>
                <div class="modal-footer" id="submitSection" style="display: none;">

                  <button type="button" id="backSection" class="btn btn-primary">Back</button>

                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
         </div>
         


         <br>
         <br>
         <div class="col-lg-6">
            <div class="modal-dialog ">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="loanModalLabel">Statistics</h5>
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                  
                  </div>
                  <div class="modal-body">
                    <!-- <form action="/credit/card" method="post"> -->
                      <div class="modalBottom">
                        <% if (investor && investor.length > 0) { %>
                            <% let totalInvestedAmount = 0; %>
                            <% let totalEarnings = 0; %>
                            <% let cashInTotal = 0; %>
                            <% let totalInvestments = 0; %>
                           
    
                            <% investor.forEach(function(investment) { %>
                                <% totalInvestedAmount += investment.investmentAmount; %>
                                <% totalEarnings += investment.expectedReturns; %>
                                <% cashInTotal += investment.totalReturns; %>
                                <% totalInvestments++; %>
                            <% }) %>
                          <div class="mb-3">
                              <label for="name" class="form-label">Total Invested</label>
                              <input type="text" class="form-control" id="totalInvestedAmount" name="name" value="K<%= totalInvestedAmount %>"  disabled>
                            </div>
                            <div class="mb-3">
                              <label for="totalEarnings" class="form-label">Total Cash earned</label>
                              <input type="text" class="form-control" id="totalEarnings" name="totalEarnings" value="K<%=totalEarnings%>" disabled>
                              <input type="text" class="form-control" id="cashInTotal" name="cashInTotal" value="<%=cashInTotal%>"  hidden>
                            </div>
               
                            <div class="mb-3">
                                <label for="totalInvestments" class="form-label">Total Number of investments</label>
                                <input type="text" class="form-control" id="totalInvestments" name="totalInvestments" value="<%=totalInvestments%> " disabled>
                           </div>
                           <% } else { %>
                            <div class="mb-3">
                                <label for="name" class="form-label">Total Invested</label>
                                <input type="text" class="form-control" id="name" name="name" value="nil"  disabled>
                              </div>
                              <div class="mb-3">
                                <label for="email" class="form-label">Total Cash earned</label>
                                <input type="email" class="form-control" id="email" name="email" value="nil" disabled>
                              </div>
                 
                              <div class="mb-3">
                                  <label for="number" class="form-label">Total Number of investments</label>
                                  <input type="text" class="form-control" id="number" name="number" value="nil" disabled>
                             </div>

                            <% } %>
                        <% if (creditor && creditor.length > 0 ) { %>
                            <% let totalCreditedAmount = 0; %>
                            <% let totalCredits = 0; %>
                           
    
                            <% creditor.forEach(function(credits) { %>
                                <% totalCreditedAmount += credits.loanAmount; %>
                                <% totalCredits++; %>
                            <% }) %>
                            <div class="mb-3">
                              <label for="totalCreditedAmount" class="form-label">Total Borrowed Cash</label>
                              <input type="text" class="form-control" id="totalCreditedAmount" name="totalCreditedAmount" value="K<%=totalCreditedAmount%>" disabled>
                            </div>
                      <div class="mb-3">
                        <label for="totalCredits" class="form-label">Total Number of loans </label>
                        <input type="text" class="form-control" id="totalCredits" name="totalCredits" value="<%=totalCredits%>" disabled>
                      </div>
                      <% } else { %>
                        <div class="mb-3">
                            <label for="studentNumber" class="form-label">Total Borrowed Cash</label>
                            <input type="text" class="form-control" id="studentNumber" name="studentNumber" value="nil" disabled>
                          </div>
                    <div class="mb-3">
                      <label for="school" class="form-label">Total Number of loans </label>
                      <input type="text" class="form-control" id="school" name="school" value="nil" disabled>
                    </div>
                    <% } %>
                      
                     
                     
                     </div>
                    <!-- </form> -->
                  </div>
                  <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                  </div>
                </div>
              </div>
         </div>
          
        </div>
        <!-- /.row -->

    </div>

    <hr>

    <div class="container chart">
      <canvas id="myPieChart" width="400" height="400"></canvas>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>

  const ctxPie = document.getElementById('myPieChart').getContext('2d');
  let totalInvestedAmount = $("#totalInvestedAmount").val();
  let cashInTotal = $("#cashInTotal").val();

  if (totalInvestedAmount == null || totalInvestedAmount == 'indefined') {
    totalInvestedAmount = 0;
    
  }else{
    totalInvestedAmount = parseFloat($("#totalInvestedAmount").val().replace(/[^0-9]/g, ''));

  }
  if (cashInTotal == null || cashInTotal == 'indefined') {
    
    cashInTotal = 0;
  }else{
    cashInTotal = parseFloat($("#cashInTotal").val().replace(/[^0-9]/g, ''));

  }

  const totalCreditedAmount = parseFloat($("#totalCreditedAmount").val().replace(/[^0-9]/g, ''));
   
  const dataPie = {
    labels: ['Total Invested', 'Total Returns', 'Total Borrowed Cash'],
    datasets: [
      {
        label: 'Values in K',
        data: [
           totalInvestedAmount,
           cashInTotal,
           totalCreditedAmount,
        ],
        
        backgroundColor: [
          'blue',
          'green',
          'orange',
          'red',
          'purple'
        ],
      },
    ],
  };

  console.log(totalInvestedAmount)
  console.log(cashInTotal)
  console.log(totalCreditedAmount)

  const optionsPie = {
    responsive: true,
    maintainAspectRatio: false,
  };

  const myPieChart = new Chart(ctxPie, {
    type: 'pie',
    data: dataPie,
    options: optionsPie,
  });
  
</script>

  
<script>
  $(document).ready(function () {
    $('#updateDetailsBtn').on('click', function () {
      // Enable all input fields
      $('.modalBottom.profile input').prop('disabled', false);

      // Show the submit button and hide the update button
      $('#updateButtonSection').hide();
      $('#submitSection').show();
    });

    $('#backSection').on('click', function () {
      // Enable all input fields
      $('.modalBottom.profile input').prop('disabled', true);

      // Show the submit button and hide the update button
      $('#updateButtonSection').show();
      $('#submitSection').hide();
    });
  });
</script>

<script>
  $(document).ready(function () {
    const $form = $('#form');

    $form.on('submit', function (e) {
      e.preventDefault();

      // Clear existing error messages
      $('.error-message').remove();

      const firstName = $('#firstName').val();
      const lastName = $('#lastName').val();
      const studentNumber = $('#studentNumber').val();
      const email = $('#email').val();
      const phoneNumber = $('#phoneNumber').val();
      const password = $('#password').val();
      const confirmedPassword = $('#confirmedPassword').val();
      const passwordPattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;

      if (firstName === '' || firstName.length <= 2) {
        displayErrorMessage('First Name must be at least 3 characters.');
      }
      if (lastName === '' || lastName.length <= 2) {
        displayErrorMessage('Last name must be at least 3 characters.');
      }
      if (studentNumber === '' || studentNumber.length !== 8) {
        displayErrorMessage('Invalid student number.');
      }
      if (email === '') {
        displayErrorMessage('Email is required.');
      }
      if (phoneNumber === '' || phoneNumber.length !== 11) {
        displayErrorMessage('Invalid phone number.');
      }
      if (password === '') {
        displayErrorMessage('Password is required.');
      } else if (password !== confirmedPassword) {
        displayErrorMessage('Passwords do not match.');
      }
      
      // If there are no error messages, submit the form
      if ($('.error-message').length === 0) {
        // Perform any additional actions or AJAX submission here if needed
        $form[0].submit(); // Submit the form
       
      }
    });

    function displayErrorMessage(message) {
      // Create a new div for the error message
      const errorDiv = $('<div>').addClass('error-message').text(message);

      // Insert the error message after the form
      $form.after(errorDiv);
    }
  });
</script>